@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 35px;
  font-weight: 900;
}

h2 {
  font-size: 18px;
  font-weight: 900;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.body {
  background: url(./img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200vh;
  font-family: "Lato", sans-serif;
  width: 100%;
  color: var(--text);
  --bg: rgba(237, 237, 237, 0.5);
  --bg100: rgba(237, 237, 237);
  --bg_hover: rgba(255, 136, 75, 0.5);
  --light_accent: #ff884b;
  --verylight_accent: #f8a67d;
  --dark_accent: #ff6118;
  --text: #000;
  --white: #fff;
  --off_white: #d3d3d3;
  --nav_span: rgba(0, 0, 0, 0.5);
  --shadow: rgba(0, 0, 0, 0.5);
  --label_txt: rgba(90, 90, 90, 0.5);
  --label_bg: rgba(255, 255, 255, 0.5);
  --menu: rgba(255, 255, 255, 0.966);
  --tag: #ff0000;
  --tag_bg: rgba(249, 0, 0, 0.5);
}

.body_dark {
  background: url(./img/bg_dark.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200vh;
  font-family: "Lato", sans-serif;
  width: 100%;
  color: var(--text);
  --bg: rgba(221, 203, 239, 0.5);
  --bg100: rgba(237, 237, 237);
  --bg_hover: rgba(143, 57, 171, 0.5);
  --light_accent: #9650ad;
  --verylight_accent: #c2b5d3;
  --dark_accent: #8e39ab;
  --text: #000000;
  --white: #ffffff;
  --off_white: #d3d3d3;
  --nav_span: rgba(0, 0, 0, 0.5);
  --shadow: rgba(0, 0, 0, 0.5);
  --label_txt: rgba(90, 90, 90, 0.5);
  --label_bg: rgba(255, 255, 255, 0.5);
  --menu: rgba(255, 255, 255, 0.935);
  --tag: #ff0000;
  --tag_bg: rgba(249, 0, 0, 0.5);
}

.cookai_app {
  padding-top: 120px;
  width: 100%;
}

.logo_alien svg {
  width: 20%;
}

.navbar {
  margin: 0 auto;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 2;
  position: absolute;
  top: 0;
}

.navbar a {
  text-decoration: none;
  height: fit-content;
}

.navbar span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 40px;
  border-bottom: 2px solid var(--white);
  border-left: 2px solid var(--white);
  border-right: 2px solid var(--white);
  border-radius: 0px 0px 30px 30px;
  background: var(--bg);
  font-size: 14px;
  font-weight: 900;
  color: var(--nav_span);
  cursor: pointer;
  transition: all 0.3s ease;
  transform: translateY(-10px);
}

.navbar span:hover {
  align-items: center;
  border-bottom: 2px solid var(--light_accent);
  border-left: 2px solid var(--light_accent);
  border-right: 2px solid var(--light_accent);
  font-size: 18px;
  padding-bottom: 0;
  border-radius: 0px 0px 30px 30px;
  background: var(--bg_hover);
  color: var(--white);
  transform: translateY(0);
}

.active span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 40px;
  border-bottom: 2px solid var(--light_accent);
  border-left: 2px solid var(--light_accent);
  border-right: 2px solid var(--light_accent);
  border-radius: 0px 0px 30px 30px;
  background: var(--bg_hover);
  color: var(--white);
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  transform: translateY(0);
}

/* ====================
Search page
==================== */

.cookAi {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_txt_svg {
  width: 25%;
}

.cookAi form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_txt {
  max-width: 300px;
  width: 30%;
  padding-top: 1em;
  display: block;
}

.logo_img {
  max-width: 200px;
  width: 20%;
  padding: 0.5em;
  transition: all 0.3s ease;
}

.logo_img_hide {
  /* display: none; */
  max-width: 200px;
  width: 20%;
  padding: 0.5em;
  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes hide {
  0% {
    /* scale: 1; */
    width: 100%;
  }
  100% {
    /* scale: 0; */
    width: 0%;
  }
}

.hide {
  display: none;
}

.cookAi_input {
  border: solid 2px var(--white);
  height: 40px;
  width: 500px;
  border-radius: 20px 0 20px 20px;
  background-color: var(--bg);
  padding: 1em;
  opacity: 0;
  animation-name: searchbar;
  animation-duration: 3s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

.cookAi_input_hide {
  border: solid 2px var(--white);
  height: 40px;
  width: 500px;
  border-radius: 20px;
  background-color: var(--bg);
  padding: 1em;
}

@keyframes searchbar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button_filter {
  opacity: 0;
  animation-name: searchbar;
  animation-duration: 3s;
  animation-delay: 7.5s;
  animation-fill-mode: forwards;
}

.button_filter_hide {
  display: none;
}

.cookAi_input::placeholder {
  color: var(--nav_span);
  margin: 0 2px;
}

.cookAi h5 {
  font-weight: 300;
  padding: 1em;
  font-size: large;
}

/* ====================
Typewriter Component
==================== */

.typewriterai {
  text-align: center;
}

.Typewriter__cursor {
  color: var(--light_accent);
}

/* ====================
Recipe page
==================== */

.recipe {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.recipe h1 {
  color: var(--white);
}

.recipe h3 {
  color: var(--dark_accent);
  width: 100%;
}

.recipe_button {
  width: 100%;
  height: 50px;
  background: var(--white);
  color: var(--text);
  border: 0;
  border-radius: 0px 30px 0px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.recipe_button:hover {
  background: linear-gradient(var(--dark_accent), var(--light_accent));
  color: var(--white);
  border: 0;
  border-radius: 0px 30px 0px 30px;
  cursor: pointer;
}

.recipe_button_add {
  width: 100%;
  height: 50px;
  background: rgb(235, 254, 235);
  color: green;
  box-shadow: 0px 0px 10px rgba(0, 128, 0, 0.493);
  border-radius: 0px 30px 0px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.recipe_back_button {
  width: 150px;
  height: 25px;
  position: absolute;
  top: 200px;
  right: -75px;
  transform: rotate(90deg);
  background: var(--white);
  color: var(--text);
  border: 0;
  border-radius: 0px 30px 0px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  margin-bottom: 25px;
}

.recipe_back_button:hover {
  background: var(--bg100);
  color: var(--white);
  border: 0;
  border-radius: 0px 30px 0px 30px;
  cursor: pointer;
}

.recipe_container {
  max-width: 1200px;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.recipe_main {
  width: 840px;
  height: fit-content;
  border: 2px solid var(--white);
  border-radius: 0px 30px 0px 30px;
  background: var(--bg);
  position: relative;
  z-index: 2;
  animation-name: main;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes main {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.recipe_img {
  width: 100%;
  height: 400px;
  background: var(--text);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 30px 0px 0px;
}

.recipe_title {
  position: absolute;
  top: 0;
  max-width: 75%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 15px 15px 15px;
  border-radius: 0px 0px 30px 0px;
  background: var(--bg_hover);
  border-right: 2px solid var(--light_accent);
  border-bottom: 2px solid var(--light_accent);
}

.recipe_title svg {
  display: inline;
  fill: var(--bg);
  width: 30px;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.recipe_title svg:hover {
  fill: var(--white);
  transform: scale(1.2);
}

.recipe_info {
  margin: 0 1em;
  transform: translateY(-20px);
  display: flex;
  flex-direction: column;
}

.recipe_serving {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 10px;
  width: 210px;
  height: 40px;
  background: linear-gradient(var(--dark_accent), var(--light_accent));
  border-radius: 20px 0px 20px 0px;
  color: var(--white);
  font-size: 16px;
  box-shadow: 2px 2px 8px var(--shadow);
}

.recipe_serving button {
  width: 25px;
  height: 25px;
  background: transparent;
  color: var(--white);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 5px;
}

.recipe_serving button:hover {
  width: 25px;
  height: 25px;
  background: var(--dark_accent);
  color: var(--white);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.recipe_ingredients {
  width: 100%;
  padding-bottom: 20px;
}

.recipe_ingredients h3 {
  margin-bottom: 15px;
}

.recipe_ingredients p {
  margin-bottom: 10px;
}

.recipe_info_box {
  display: flex;
}

.recipe_info_box_left {
  width: 50%;
}

.recipe_info_box_right {
  width: 50%;
}

.recipe_nutrition {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

.recipe_nutrition_box,
.recipe_nutrition_box_kcal,
.recipe_nutrition_box_carbs {
  width: 90px;
  height: 60px;
  border-radius: 0px 20px 0px 20px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.recipe_nutrition_box_kcal {
  background: var(--dark_accent);
}

.recipe_nutrition_box_carbs {
  background: var(--light_accent);
}

.recipe_nutrition_box p,
.recipe_nutrition_box_kcal p,
.recipe_nutrition_box_carbs p {
  font-size: 12px;
}

.recipe_nutrition_box span {
  font-size: 16px;
  color: var(--dark_accent);
  font-weight: 700;
}

.recipe_nutrition_box_kcal span,
.recipe_nutrition_box_carbs span {
  font-size: 16px;
  color: var(--white);
  font-weight: 700;
}

.recipe_instruction {
  text-align: center;
}

.recipe_instruction button {
  width: 100%;
}

.recipe_tag {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.recipe_tag span {
  font-size: 14px;
  font-weight: 900px;
  padding: 5px 25px;
  color: var(--label_txt);
  border-radius: 50px;
  background: linear-gradient(var(--label_bg), var(--label_bg));
}

.recipe_suggestions {
  width: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recipe_suggestions_logo {
  width: 290px;
  height: 70px;
  background: var(--white);
  border-radius: 0px 30px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
  z-index: 1;
  opacity: 0;
  box-shadow: 2px 2px 8px var(--shadow);
  animation-name: logo;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.recipe_suggestions_logo .logo_alien svg {
  width: 85px;
}

.recipe_suggestions_logo .logo_txt_svg {
  width: 120px;
}

.recipe_suggestions_result {
  display: flex;
  height: 100%;
  opacity: 0;
  flex-direction: column;
  gap: 30px;
  padding: 40px 0 30px 30px;
  background: var(--bg);
  border: 2px solid var(--white);
  border-radius: 0 0 30px 0;
  width: 95%;
  margin-top: -10px;
  animation-name: result;
  animation-duration: 0.5s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes result {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(-10);
  }
}

.recipe_suggestions_box {
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 14px;
}

.recipe_suggestions_box:hover {
  transform: translateX(-10px);
}

.recipe_suggestions_box h4 {
  max-width: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--white);
  color: var(--shadow);
  border-radius: 20px 0 0 0;
  padding: 10px;
  text-align: right;
  pointer-events: none;
  transition: all 0.3s ease;
}

.recipe_suggestions_box:hover h4 {
  color: var(--white);
  background: linear-gradient(var(--dark_accent), var(--light_accent));
}

/* ====================
Search page - SearchBar
==================== */

.searchBar {
  position: relative;
  display: flex;
  justify-content: center;
}

/* ====================
Search page - Filter
==================== */
.buttonSearchBar {
  position: absolute;
  background: var(--white);
  color: var(--text);
  line-height: 36px;
  text-decoration: none;
  white-space: nowrap;
  margin-top: -25px;
  margin-right: -5px;
  padding: 0 10px;
  border: 2px solid var(--white);
  border-radius: 20px 0 20px 0;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 5;
  opacity: 0;
  animation-name: searchbar;
  animation-duration: 3s;
  animation-delay: 7.5s;
  animation-fill-mode: forwards;
}

.buttonSearchBar:hover {
  background: var(--dark_accent);
  color: #fff;
}

.buttonSearchBar_hide {
  position: absolute;
  background: var(--white);
  color: var(--text);
  line-height: 36px;
  text-decoration: none;
  white-space: nowrap;
  margin-top: -40px;
  margin-right: -7px;
  padding: 0 10px;
  border: 2px solid var(--white);
  border-radius: 20px 0 20px 0;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 5;
}

.buttonSearchBar_hide:hover {
  background: var(--dark_accent);
  color: #fff;
}

/* Highest div of filter */
.filterfield {
  width: 100%;
  position: absolute;
  right: 5px;
  display: flex;
  justify-content: flex-end;
}

.outerFilter {
  width: 500px;
  margin-top: 15px;
  margin-left: 5px;
  border: solid 2px var();
  box-shadow: 2px 2px 8px var(--shadow);
  border-radius: 20px 0 20px 20px;
  color: black;
  background-color: var(--menu);
  padding: 1em;
  animation-name: searchbar;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.innerFilter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 5;
}

/*  Label of Checkbox*/
.MuiFormControlLabel-label {
  min-width: 173px;
  font-size: 0.95rem !important;
}

.caloriesFilter {
  margin-top: 13px;
  width: 135px;
  padding-left: 10px;
}

.caloriesFilterMainLable {
  color: grey;
  font-size: 0.9rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.caloriesFilterBlock {
  display: flex;
  margin-top: 2px;
  font-size: small;
  line-height: 1.2rem;
}

.caloriesFilterLables {
  display: block;
}

.caloriesFilterInput {
  display: block;
  width: fit-content;
}

.caloriesFilterInput input::placeholder {
  font-size: 0.75rem;
  padding: 5px;
}

.resetFilters {
  display: flex;
  justify-content: center;
}

.resetFilters button {
  margin-inline: auto;
  background: var(--verylight_accent);
  color: var(--text);
  line-height: 30px;
  text-decoration: none;
  white-space: nowrap;
  padding-inline: 10px;
  border: var(--light_accent) 2px solid;
  border-radius: 20px 0 20px 0;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 5;
  margin-top: 25px;
  box-shadow: 1px 1px 2px var(--shadow);
}

.resetFilters button:hover {
  background: var(--dark_accent);
  color: #fff;
}

/* ====================
MealPlaner
==================== */

.MealPlanerContainer {
  margin-inline: auto;
  margin-top: 4rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* #toSave{
  border: #000 2px solid;
  background-image: url('./img/MyMealPlaner.png');
  background-size:cover;
  background-repeat: no-repeat;
  height: 1200px;
  width: 750px;
  margin-top: 2rem;
} */

.MealPlanerDate {
  width: 100%;
  height: 100px;
}

.MealPlanerCategoryContainer {
  width: 100%;
  height: 560px;
  padding: 0 33px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.MealPlanerCategory {
  width: 167px;
  height: 280px;
  padding: 10px;
}

.MealPlanerCategory h3 {
  padding: 3px 0;
  font-weight: 600;
  font-style: normal;
  color: #000;
}

.buttonsContainerMealPlaner {
  display: flex;
  justify-content: space-between;
}

.buttonMealPlaner {
  border: none;
  justify-content: center;
  display: flex;
  width: 48%;
  height: 60px;
  padding: 15px;
  background: var(--white);
  box-shadow: 2px 2px 8px var(--shadow);
  font-size: 18px;
  font-weight: 900;
  color: var(--text);
  border-radius: 30px 0 30px 0;
  transition: all 0.3s ease;
  opacity: 0.6;
  cursor: pointer;
}

.buttonMealPlaner:hover {
  color: var(--white);
  background: linear-gradient(var(--dark_accent), var(--light_accent));
  opacity: 1;
}

/* ====================
Contact page
==================== */

.contact_container {
  width: 60vw;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 3em;
  width: 100%;
}
.contact_info {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.contact_aside_info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  gap: 1em;
  /* width: 70%; */
}

.contact_aside_info > input,
.contact_aside_info > .custom-select > p {
  height: 40px;
  background-color: var(--bg);
  border-radius: 30px;
  border: var(--white) 2px solid;
  padding: 0 1em;
  width: 100%;
  appearance: none;
  cursor: pointer;
}
.contact_aside_info > .custom-select > p {
  font-size: small;
  color: rgb(111, 111, 111);
  padding-top: 10px;
}
.creatorSelect {
  position: absolute;
  background: var(--bg100);
  color: var(--text);
  top: 50px;
  width: 100%;
  height: 0;
  font-size: larger;
  border: var(--light_accent) 2px solid;
  border-radius: 15px;
  animation-name: selector;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes selector {
  0% {
    height: 0;
  }
  100% {
    height: 125px;
  }
}
.creatorSelect_hide {
  position: absolute;
  background: var(--bg100);
  color: var(--text);
  top: 50px;
  width: 100%;
  height: 125px;
  font-size: larger;
  border: var(--light_accent) 2px solid;
  border-radius: 15px;
  animation-name: selectorreverse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes selectorreverse {
  0% {
    height: 125px;
  }

  100% {
    height: 0px;
    border: 0px;
  }
}

.rotate {
  animation-name: rotate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.rotatereverse {
  animation-name: rotatereverse;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes rotate {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 180deg;
  }
}
@keyframes rotatereverse {
  0% {
    rotate: 180deg;
  }

  100% {
    rotate: 0;
  }
}

.creatorOption {
  border-radius: 1em;
  cursor: pointer;
  padding: 0.45em;
  padding-left: 1em;
  margin: 0.1em;
}
.creatorOption:hover {
  background-color: var(--light_accent);
  color: var(--white);
  transition: all 0.3s ease;
}

.hr {
  margin: 0 0.7em;
  color: #ff884b;
  width: 90%;
  border-top: solid 1px var(--label_txt);
  opacity: 0.5;
}
.custom-select {
  position: relative;
}

.custom-arrow {
  position: absolute;
  top: 25%;
  right: 0.5em;
  height: 50%;
  width: 2rem;
  pointer-events: none;
  color: var(--light_accent);

  /* border: solid 1px black; */
}

option {
  background-color: var(--bg);
}

.contact_aside_img {
  background-color: var(--bg);
  border-radius: 50%;
  border: 2px solid var(--white);
  width: 150px;
  transition: all 0.3s ease;
}

.contact_area {
  height: 200px;
  background-color: var(--bg);
  border: var(--white) 2px solid;
  padding: 1em;
  border-radius: 1em;
  font-family: "Lato", sans-serif;
}

.contact button {
  align-self: center;
  background-color: var(--bg);
  border: var(--white) solid 2px;
  width: 180px;
  height: 30px;
  border-radius: 1em;
  color: var(--text);
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact button:hover {
  background-color: var(--bg_hover);
  border: var(--light_accent) solid 2px;
  color: var(--white);
}

/* ====================
Tags page
==================== */

.tagsContainer {
  width: 100%;
  display: flex;
  margin-top: 10px;
  flex-flow: row wrap;
  justify-content: left;
  gap: 5px;
}

.tag {
  background-color: var(--bg);
  position: relative;
  padding: 5px 21px;
  border-radius: 15px;
  border: 2px solid var(--white);
  display: block;
  color: var(--shadow);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}

.tag::after {
  content: "X";
  position: absolute;
  padding: 5px 8px;
  border: 2px solid var(--tag);
  background: var(--tag_bg);
  border-radius: 20px;
  transform: translateX(200%);
  transition: all 0.3s ease;
}

.tag:hover {
  padding-right: 32px;
  padding-left: 10px;
  background: var(--bg_hover);
  border: 2px solid var(--dark_accent);
}

.tag:hover:after {
  transform: translateX(140%);
}

.closeTag:hover {
  cursor: pointer;
  transition: all 0.3s ease;
}

.closeTag:hover {
  color: var(--dark_accent);
}

/* ====================
Recipe List
==================== */
.recipeList_container {
  display: flex;
  max-width: 1400px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  padding: 80px 0;
}

.one_recipe {
  background-color: var(--bg);
  width: 280px;
  height: 170px;
  padding: 0 1em;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px 0px 30px 0px;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.one_recipe:hover {
  transform: translateX(-20px);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.info_recipe {
  position: absolute;
  width: 280px;
  height: 170px;
  background-color: var(--dark_accent);
  border-radius: 30px 0px 30px 0px;
}
.info_recipe:hover {
  transform: translateX(30px);
  transition: all 0.3s ease;
}
.info_recipe > p {
  font-weight: 300;
  position: absolute;
  right: 5px;
  top: 10px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: var(--white);
}

.one_recipe h3 {
  z-index: 2;
  background-color: var(--dark_accent);
  padding: 0.5em 1.2em;
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0px 20px 0px 0px;
  color: var(--white);
  font-style: normal;
  text-decoration: none;
  pointer-events: none;
  transition: all 0.3s ease;
}

.one_recipe:hover h3 {
  background-color: var(--white);
  transition: all 0.3s ease;
  color: var(--text);
}

.img_recipe {
  width: 200px;
}
/* .recipeList_img {
  width: 260px;
  height: 130px;
  box-shadow: 5px 5px 10px grey;
  position: absolute;
  top: 10px;
} */

/* ====================
Creators Page
==================== */

.creators {
  max-width: 1480px;
  margin: 80px auto;
}

.creators_container {
  width: 100%;
  min-height: 400px;
  margin-top: -35px;
  position: relative;
  background: var(--bg);
  border: 2px solid var(--white);
  border-radius: 0 30px 0 30px;
  opacity: 0;
  animation-name: container;
  animation-delay: 1.8s;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes container {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.creators_title {
  width: 620px;
  height: 70px;
  position: relative;
  background: var(--white);
  border-radius: 30px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  z-index: 1;
  box-shadow: 2px 2px 8px var(--shadow);
  opacity: 0;
  animation-name: title;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.creators_title div {
  display: flex;
  justify-content: center;
}

.creators_title h5 {
  font-weight: 300;
  font-size: large;
}

.creators_title .logo_alien svg {
  width: 85px;
}

.creators_title .logo_txt_svg {
  width: 120px;
  margin-right: 15px;
}

.creators_links {
  height: fit-content;
  transform: translate(-40px, 60px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 30px;
}

.creators_img {
  width: 340px;
  height: 350px;
  position: relative;
  box-shadow: 2px 2px 8px var(--shadow);
  border-radius: 0 30px 30px 30px;
}

.creators_name {
  width: 300px;
  height: 60px;
  position: absolute;
  bottom: -10px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  background: var(--white);
  box-shadow: 2px 2px 8px var(--shadow);
  font-size: 18px;
  font-weight: 900;
  color: var(--text);
  border-radius: 30px 0 30px 0;
  transition: all 0.3s ease;
}

.creators_link {
  text-decoration: none;
  color: var(--text);
  transition: all 0.3s ease;
}

.creators_link:hover {
  transform: translateY(10px);
  color: var(--text);
}

.creators_link:hover .creators_name {
  color: var(--white);
  background: linear-gradient(var(--dark_accent), var(--light_accent));
}

/* ====================
Creator Page
==================== */

.creator {
  width: fit-content;
  position: relative;
  margin: 80px auto;
}

.creator_container {
  max-width: 840px;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  background: var(--bg);
  border: 2px solid var(--white);
  border-radius: 0 30px 0 30px;
  font-size: 16px;
  opacity: 0;
  animation-name: container_creator;
  animation-delay: 0.6s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes container_creator {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.creator_container h3 {
  display: inline;
  color: var(--dark_accent);
  font-size: 18px;
}

.creator_img {
  width: 500px;
}

.creator_navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  animation-name: navigation_creator;
  animation-delay: 1.2s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes navigation_creator {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.creator_navigation_row {
  width: fit-content;
  display: flex;
  align-items: center;
  transform: translate(-20px, 15px);
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.creator_navigation_row:hover {
  display: flex;
  align-items: center;
  transform: translate(-30px, 15px);
}

.creator_navigation_row span {
  width: fit-content;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  font-size: 16px;
  background: var(--dark_accent);
  color: var(--white);
  font-weight: 300;
  border-radius: 0 0 30px 0;
  transform: translateX(-220px);
  transition: all 0.3s ease;
}

.creator_navigation_row:hover span {
  transform: translateX(-16px);
}

.creator_navigation_txt {
  transform: translateX(-15px);
  padding-left: 20px;
  overflow: hidden;
}

.creator_nav_back {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  animation-name: navigation_creator;
  animation-delay: 1.6s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.creator_nav_back_icon {
  background: linear-gradient(var(--white), var(--off_white));
  width: 70px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 2px 2px 8px var(--shadow);
  border-radius: 30px 0 30px 0;
  z-index: 5;
  cursor: pointer;
}

.creator_nav_back_row {
  width: fit-content;
  display: flex;
  align-items: center;
  transform: translate(-20px, 15px);
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.creator_nav_back_row:hover {
  display: flex;
  align-items: center;
  transform: translate(-30px, 15px);
}

.creator_nav_back_row span {
  width: fit-content;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  font-size: 16px;
  background: var(--dark_accent);
  color: var(--white);
  font-weight: 300;
  border-radius: 0 0 30px 0;
  transform: translateX(-220px);
  transition: all 0.3s ease;
}

.creator_nav_back_row:hover span {
  transform: translateX(-16px);
}

.creator_icon {
  color: var(--shadow);
  height: 50%;
  width: 1.2rem;
  pointer-events: none;
}

.creator_info {
  width: 40%;
  padding: 30px;
}

.creator_info_row,
.creator_info_row_full {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
}

.creator_info_row_full {
  display: block;
}

.creator_info_hobbies_tag {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.creator_info_hobbies_tag span {
  font-size: 14px;
  font-weight: 900px;
  padding: 5px 25px;
  color: var(--label_txt);
  border-radius: 50px;
  background: linear-gradient(var(--label_bg), var(--label_bg));
}

.creator_title {
  width: 95%;
  height: 70px;
  position: absolute;
  right: 0px;
  bottom: -35px;
  background: var(--white);
  border-radius: 30px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  z-index: 1;
  box-shadow: 2px 2px 8px var(--shadow);
  opacity: 0;
  animation-name: title_creator;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes title_creator {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.creator_title div {
  display: flex;
  justify-content: center;
}

.creator_title h1 {
  font-weight: 900;
  font-size: 25px;
  color: var(--dark_accent);
}

.creator_title .logo_alien svg {
  width: 85px;
}

.creator_title .logo_txt_svg {
  width: 120px;
  margin-right: 15px;
}

.creator_title .Typewriter__cursor {
  color: var(--shadow);
}

/* ====================
Darkmod Page
==================== */

.darkmode {
  width: 230px;
  border: 2px solid var(--white);
  border-radius: 0 0 30px 30px;
  background: var(--bg);
  transform: translateY(-235px);
  cursor: pointer;
  height: fit-content;
  transition: all 0.3s ease;
}

.darkmode_active {
  width: 230px;
  height: fit-content;
  border-left: 2px solid var(--light_accent);
  border-right: 2px solid var(--light_accent);
  border-bottom: 2px solid var(--light_accent);
  color: var(--white);
  border-radius: 0 0 30px 30px;
  background: var(--bg_hover);
  transform: translateY(0);
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
}

.darkmode:hover {
  border: 2px solid var(--light_accent);
  font-size: 18px;
  padding-bottom: 0;
  border-radius: 0px 0px 30px 30px;
  background: var(--bg_hover);
  color: var(--white);
  transform: translateY(-235);
}

.darkmode_logo {
  display: none;
}

.darkmode_link {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 900;
  color: var(--nav_span);
  pointer-events: none;
  transition: all 0.3s ease;
}

.darkmode:hover .darkmode_link {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 900;
  color: var(--white);
  transition: all 0.3s ease;
}

.darkmode_active .darkmode_link {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 900;
  color: var(--white);
  transition: all 0.3s ease;
}

fieldset {
  border: none;
}

.darkmode_row {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  padding: 15px;
  transition: all 0.3s ease;
}

.darkmode_row:hover {
  background: linear-gradient(var(--dark_accent), var(--light_accent));
}

.darkmode_row img {
  width: 80px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px var(--shadow);
}
