@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --bg-color: rgba(233, 233, 233, 0.5);
  --hover-border: #ff884b;
  --hover-background: rgba(255, 136, 75, 0.5);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  background-color: var(--bg-color);
  border: white solid 1px;
  width: 100px;
  height: 30px;
  border-radius: 1em;
}
button:hover {
  background-color: var(--hover-background);
  border: var(--hover-border) solid 1px;
  width: 100px;
  height: 30px;
  border-radius: 1em;
  transition: all 0.3s ease;
}

body {
  background: url(./img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  width: 100%;
  --bg: rgba(237, 237, 237, 0.5);
}

.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
}

.navbar span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 40px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 0px 0px 30px 30px;
  background: rgba(237, 237, 237, 0.5);
  font-size: 14px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  transform: translateY(-10px);
}

.navbar span:hover {
  align-items: center;
  border-bottom: 2px solid #ff884b;
  border-left: 2px solid #ff884b;
  border-right: 2px solid #ff884b;
  font-size: 18px;
  padding-bottom: 0;
  border-radius: 0px 0px 30px 30px;
  background: rgba(255, 136, 75, 0.5);
  color: #fff;
  transform: translateY(0);
}

.active span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 40px;
  border-bottom: 2px solid #ff884b;
  border-left: 2px solid #ff884b;
  border-right: 2px solid #ff884b;
  border-radius: 0px 0px 30px 30px;
  background: rgba(255, 136, 75, 0.5);
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transform: translateY(0);
}

/* ====================
CookAi search page
==================== */

.cookAi {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_txt {
  width: 300px;
  padding: 1em;
  display: block;
}
.logo_img {
  width: 200px;
  padding: 1em;
  display: block;
}

.cookAi input {
  border: solid 2px #ffffff;
  height: 40px;
  width: 500px;
  border-radius: 20px;
  background-color: var(--bg-color);
  padding: 1em;
}
.cookAi input::placeholder {
  color: rgb(146, 146, 146);
  margin: 0 2px;
}

.cookAi h5 {
  font-weight: 300;
  padding: 1em;
  font-size: large;
}

/* ====================
CookAi Contact page
==================== */
.contact_container {
  width: 60vw;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 3em;
  width: 100%;
}
.contact_info {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.contact_aside_info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  gap: 1em;
  /* width: 70%; */
}
.contact_aside_info input,
select {
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 30px;
  border: white 1px solid;
  padding: 0 1em;
}
.contact_aside_info select option {
  background-color: var(--bg-color);
}

.contact_aside_img {
  background-color: var(--bg-color);
  border-radius: 50%;
  border: 1px solid white;
}
.contact_area {
  height: 200px;
  background-color: var(--bg-color);
  border: white 1px solid;
  padding: 0 1em;
  border-radius: 1em;
}
.contact button {
  align-self: center;
}
